
.space-carousel {
    padding: 16px;
    background: #DEF1E5;
    overflow: hidden;
  }
  .my-carousel .v-item {
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
  }
  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
  }
  .slider-decorator-0{
    bottom: 20px;
  }
  .slider-decorator-0 span{
    height: 15px;
    width: 15px;
  }
  img.cover{
    width: 100%;
  }
  .container nav>h3{
    padding: 10px;
    font-weight: normal;
    font-size: 24px;
    color: #333;
  }
  .container nav::after{
    content: "";
    display: block;
    width: 20%;
    margin: 0 auto;
    height: 3px;
    background-color: #666;
  }
  .content .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  .content .list>li{
    width: 22%;
    margin: 0 1%;
  }
  /* .content .list>li:last-child{
    padding-right: 50%;
  } */